<a href="https://colab.research.google.com/github/HP2020SMU/IBM.2nd.exercise/blob/main/API_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **API in Python**

#### **Get Request**

In [25]:
import requests

import os
from PIL import Image
from IPython.display import IFrame

url = 'http://www.ibm.com/'
r = requests.get(url)

##!!!:                 r is object of respone once "requests.get(url)" processing done.

In [26]:
# view status code

r.status_code

200

In [15]:
# view request header

print(r.request.headers)

{'User-Agent': 'python-requests/2.23.0', 'Accept-Encoding': 'gzip, deflate', 'Accept': '*/*', 'Connection': 'keep-alive', 'Cookie': '_abck=28AE2C3620BDFA0E566E95CB9605608D~-1~YAAQxbQtF1T/M7h+AQAAgX5myAfB43kuuK5WukUbLAoC0FWWyhql59a2miQXoo5IMzEPZmK6itHExc1Ajuanv0U4iP8nCROcaGNTXrbpNEEJ8h0uaQujvE8aHVIlkTzrbbBc5Ur2h51QnMkPQ5X1fjOnMqiVEV7AUShQD2xTG5b6oxlxbT2jIw776P5+e8VY7y3K0MZEhoeMu8c3V4izL8SLNgZGX2uyOzgMzSS/harYPPh0VPMPjBhCIDHclBd7qMt8jhVwEaSDGEHHHe8k/bm85/4L4jmFi6FuFa6Je3NjNjE+yRWgVhfSfBCgeykyb4ue83tuS8Wsn61gWgt6T/0=~-1~-1~-1; bm_sz=CC71DC6F670F0BD8B5336BA1F3E01C5F~YAAQxbQtF1X/M7h+AQAAgX5myA4glkoXTfrk4/Nv0zzN4/9ELcbeZmMdZABn5yBokMsqzWc0kU8juU9xwF76RdSQ4ofTQp879VVtjPS4ZIZb0By20eaZjAUM6SqNZ8bf3JzWMrQBi/gfxnLt0kbAiQ1KBz4JTXpRcEX3m6TYCzGxp5UZAlYTCr114fhviWpbsTUY1bjVD/yptGS59KyvPMm3Y32MamZUDciIMjDIEOO+aXpK0eackUX2rFQiDzkaLiAj7c7XxMciLCf4NJW8WZKkLB/IP0q0jMXj9hop+00=~4342832~4408628'}

In [17]:
# view request body

print("request body:", r.request.body)

request body: None

In [18]:
# view HTTP respone header using the attribut headers

header=r.headers
print(r.headers)

{'Cache-Control': 'max-age=301', 'Expires': 'Fri, 04 Feb 2022 19:30:54 GMT', 'Last-Modified': 'Fri, 04 Feb 2022 18:46:04 GMT', 'ETag': '"1637e-5d735a9b89e1f"', 'Accept-Ranges': 'bytes', 'Content-Encoding': 'gzip', 'Content-Type': 'text/html', 'X-Akamai-Transformed': '9 18094 0 pmb=mTOE,1', 'Date': 'Sat, 05 Feb 2022 05:41:07 GMT', 'Content-Length': '18169', 'Connection': 'keep-alive', 'Vary': 'Accept-Encoding', 'x-content-type-options': 'nosniff', 'X-XSS-Protection': '1; mode=block', 'Content-Security-Policy': 'upgrade-insecure-requests', 'Strict-Transport-Security': 'max-age=31536000'}

In [23]:
# obtain data the request was sent using the key (Date)

header['date']

'Sat, 05 Feb 2022 05:41:07 GMT'

##### **query string**

In [30]:
# Create (query string)

url_get = 'http://httpbin.org/get?Name=Joseph&ID=123'
payload = {"name" : "Joseph", "ID" : "123"}
r= requests.get(url_get, params=payload)
r.url

'http://httpbin.org/get?Name=Joseph&ID=123&name=Joseph&ID=123'

#### **Post Request**

In [32]:
# Like a Get Request, POST is used to send data to web server
# but sends the data in a request body.

url_post= 'http://httpbin.org/post'

# This endpoint will expect data as a file or as a form.
# A form is convenient way to ocnfigure an HTTPrequest to send data to a server.

In [33]:
# To make POST request, use post() function, variable payload is passed to parameter (data):

r_post= requests.post(url_post, data=payload)

In [34]:
# Comparing URL from response objectof GET & POST request
# we see (POST) request no (name) or (value pairs)

print("POST request URL:", r_post.url)
print("GET request URL:", r.url)

POST request URL: http://httpbin.org/post
GET request URL: http://httpbin.org/get?Name=Joseph&ID=123&name=Joseph&ID=123

In [35]:
# Only (POST) request has a (body)

print("POST request body:", r_post.request.body)
print("GET request body:", r.request.body)

POST request body: name=Joseph&ID=123
GET request body: None

#### **Error Group ?**

##### **Error:Document Tree**

In [72]:
# Error occurred due to short of (%%html)

%%html
<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
<h3><b id='boldest'> Lebron James </b></h3>
<p> Salary: $ 92,000,000 </p>
<h3> Stephen Curry </h3>
<p> Salary: &85,000,000 </p>
<h3> Kevin Durant </h3>
<p> Salary: $73,200,000 </p>
</body>
</html>

##### **Error: HTML Table**

##### **Error: Webscraping example**

In [73]:
# Equal to Document Tree

%%html
<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
<h3><b id='boldest'> Lebron James </b></h3>
<p> Salary: $ 92,000,000 </p>
<h3> Stephen Curry </h3>
<p> Salary: &85,000,000 </p>
<h3> Kevin Durant </h3>
<p> Salary: $73,200,000 </p>
</body>
</html>

In [69]:
# Error occurred due to short of (%%html)

%%html
<table>
  <tr>
    <td> Pizza Place </td>
    <td> Drders </td>
    <td> Slices </td>
  <tr>
    <td> Dominp Pizza </td>
    <td> 10 </td>
    <td> 100 </td>
  <tr>
    <td> Little Caesars </td>
    <td> 12 </td>
    <td> 144 </td>
    </tr>
</table>

##### **Error: Tag Object**

In [74]:
# Error occurred due to short of (%%html)

%%html
tag_object=soup.title
tag_object:
<title>Page Title</title>

In [80]:
# Error occurred due to short of (%%html)

%%html
tag_object=soup.h3
tag_object: <h3><b id="boldest"> Lebron James </b></h3>

##### **Error: HTML Tree**

In [84]:
# Error occurred due to short of (%%html)

%%html
tag_object: <h3><b id="boldest"> Lebron James </b></h3>

tag_child = tag_object.bodytag_child:
<b id="boldest"> Lebron James </b>

##### **Error: Parent attribute**

In [87]:
# Error occurred due to short of (%%html)

%%html
tag_child: <b id="boldest"> Lebron James </b>

parent_tag = tag_child.parent
parent_tag:
<h3><b id="boldest"> Lebron James </b></h3>

tag_object

##### **Error: Next-sibling attribute**

In [88]:
# Error occurred due to short of (%%html)

%%html
sibling_1: <p> Salary: $ 92,000,000 <p>

sibling_2 = sibling_1.next_sibling
sibling_2:
<h3> Stephen Curry </h3>

##### **Error: Navigable string**

In [90]:
# Error occurred due to short of (%%html)

%%html
tag_child: <b id="boldest"> Lebron James </b>

tag_child.attrs:
{'id': 'boldest'}

tag_child.string:
'Lebron James'

##### **Error: Python iterable**

In [89]:
# Error occurred due to short of (%%html)

%%html
table_row=table.find_all(na e='tr')
table_row:
[<tr><td> Pizza Planc </td><td> Orders </td><td> Slices </td><td>,
 <tr><td> Domino's Pizza </td><td> 10 </td><td> 100 </td><td>,
 <tr><td> Little Caesars </td><td> 12 </td><td> 44 </td><td>]

##### **Error: Tag object**

In [91]:
%%html
first_row=table_row[0]
first_row:
<tr><td> Pizza Planc </td><td> Orders </td><td> Slices </td><td>

first_row.td:
<td> Pizza Planc </td>

##### **Error: Variable row**

In [92]:
%%html
for i,row in enumerate(table_rows):
  print("row", i)
  cells=row.find_all("td")

  for j,cell in enumerate(cells):
    print("column", j, "cell", cell)

##### **Error: Elements**

In [93]:
%%html
for i,row in enumerate(table_rows):
  print("row", i)
  cells=row.find_all("td")

  for j,cell in enumerate(cells):
    print("column", j, "cell", cell)

##### **Error: Overview Python Program**

In [96]:
%%html
import requests
from bs4 import BeautifulSoup
page = requests.get("http://EnterWebsiteURL...).text

In [98]:
# Creates a BeautifulSoup object
%%html
soup= BeautifulSoup(page, "html.parser")

In [99]:
# Pulls all instances of <a> tag
%%html
artists= soup.find_all('a')

In [100]:
# Clears data of all tags
%%html
for artist in artists:
    names = artist.contents[0]
    fullLink = artist.get('href')
    print(names)
    print(fullLink)

## **E.G. (API Architecture)**

In [ ]:
# Beautiful Soup Object
   # Tag
   # Children, Parents, and Siblings
   # HTML Attributes
   # Navigable String

# Filter
   # find All
   # find
   # HTML Attributes
   # Navigable String

# DOwnloading And Scraping The contents Of A Web

#### **libraries & Beautiful Soup Objects**

In [102]:
#!! libraries installation

%%html
!mamba install bs4==4.10.0 -y
!pip install lxml==4.6.4
!mamba install html5lib==1.1 -y
# !pip installrequests==2.26.0

In [103]:
#!! (Beautiful Soup Objects)

# Consider the HTML:

%%html
<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
<h3><b id='boldest'> Lebron James </b></h3>
<p> Salary: $ 92,000,000 </p>
<h3> Stephen Curry </h3>
<p> Salary: &85,000,000 </p>
<h3> Kevin Durant </h3>
<p> Salary: $73,200,000 </p>
</body>
</html>

In [104]:
# We can store it as a (string) in the (variable HTML):
# but Error occurred if it have multiple rows
# Error disappered after (meger) all codes (into 1 row)

html="<!DOCTYPE html><html><head><title>Page Title</title></head><body><h3><b id='boldest'> Lebron James </b></h3><p> Salary: $ 92,000,000 </p><h3> Stephen Curry </h3><p> Salary: &85,000,000 </p><h3> Kevin Durant </h3><p> Salary: $73,200,000 </p></body></html>"

In [106]:
# To parse a document, pass it into the (BeautifulSoup) (constructor)

%%html
soup = BeautifulSoup(html, "html.parser")